################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BlazorApp1/bin/Debug/net7.0
/BlazorApp1/obj
