@page "/delete/{id:int}"
@inject NavigationManager navManager;
@using WebApiPovezivanje.Models
@inject HttpClient httpClient;

<h3>Delete</h3>
Proslijeđeni Id= @Id

@if (IsError == true)
{
    <p>Uuuups! došlo je do pogreške.
        kontaktirajte administratora
    </p>
}
<p>
    Ime osobe: @osoba.Ime
</p>
<p>
    Prezime osobe: @osoba.Prezime
</p>
<p>
    Grad osobe: @osoba.Grad
</p>

<button @onclick="Nazad">Nazad</button>
<button @onclick="Obrisi">Obriši osobu</button>

@code {
    [Parameter]
    public int Id { get; set; }
    Osoba osoba = new Osoba();
    public bool IsError = false;

    protected override async Task OnInitializedAsync()
    {
        var result = await httpClient.GetAsync($"https://expertvjezbeapi.azurewebsites.net/api/Osobes/{Id}");
        if (result.IsSuccessStatusCode)
        {
            osoba = await result.Content.ReadFromJsonAsync<Osoba>();
        }
    }

    public void Nazad()
    {
        navManager.NavigateTo("osobe");
    }

    public async Task Obrisi()
    {
        var retval = await httpClient.DeleteAsync($"https://expertvjezbeapi.azurewebsites.net/api/Osobes/{Id}");
        if(retval.IsSuccessStatusCode)
        {
            navManager.NavigateTo("osobe");
        }
        else
        {
            IsError = true;
        }
    }
}
