@page "/dodaj"
@using  WebApiPovezivanje.Models
@inject HttpClient client;
@inject NavigationManager navManager;
<h3>Dodaj</h3>
<form @onsubmit="DodajOsobu">
    <div class="mb-3">
        <label class ="form-label" for="fime">Ime</label>
        <input class="form-control" id="fime" @bind-value="osoba.Ime" name="fime" type="text" placeholder="Upiši ime" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="fprezime">Prezime</label>
        <input class="form-control posebni-input" id="fprezime" @bind-value="osoba.Prezime" name="fprezime" type="text" placeholder="Prezime" />
    </div>
     <div class="mb-3">
        <label class="form-label" for="fbrtel">Broj Telefona</label>
        <input class="form-control" id="fbrtel" @bind-value="osoba.BrojTelefona" name="fbrtel" type="text" placeholder="Broj telefona" />
    </div>
     <div class="mb-3">
        <label class="form-label" for="fbrmob">Broj Mobitela</label>
        <input class="form-control" id="fbrmob" @bind-value="osoba.BrojMobitela" name="fbrmob" type="text" placeholder="Broj mobitela" />
    </div>
    <div class="mb-3">
        <label class="form-label" for="fadr">Adresa</label>
        <input class="form-control"  id="fadr" @bind-value="osoba.Adresa" name="fadr" type="text" placeholder="Adresa" />
    </div>
     <div class="mb-3">
        <label class="form-label" for="fgrad">Grad</label>
        <input class="form-control"  id="fgrad" @bind-value="osoba.Grad" name="fgrad" type="text" placeholder="Grad" />
    </div>
   <div class="mb-3">
        <label class="form-label" for="fdrzava">Država</label>
        <input class="form-control"  id="fdrzava" @bind-value="osoba.Drzava" name="fdrzava" type="text" placeholder="Drzava" />
    </div>
    <p>
        <button class="btn btn-primary btn-moj" type="submit">Spremi izmjenu</button>
    </p>
</form>

@code {
    Osoba osoba = new Osoba();
    public async Task DodajOsobu()
    {
        var result = await client.PostAsJsonAsync<Osoba>("https://expertvjezbeapi.azurewebsites.net/api/Osobes/", osoba);
        if(result.IsSuccessStatusCode)
        {
            navManager.NavigateTo("Osobe");


        }
    }
}
